* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: lato, sans-serif;
}

.header {
  background: #222222;
  color: white;
  padding: 19px;
}

.header__flex {
  display: flex;
  justify-content: space-between;
}

.container {
  max-width: 1160px;
  padding: 0 10px;
  width: 100%;
  margin: 0 auto;
}

.header__logo {
  margin-right: 41px;
}

.header__item:not(:last-child) {
  margin-right: 33px;
}

.promo {
  height: 764px;
  background: F1E4E6;
  background-color: #f1e4e6;
}

.promo__flex {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
  background: url(../img/man.png) no-repeat -228px;
}

.promo__title {
  max-width: 405px;
  padding-left: 20px;
  border-left: 12px solid #f16d7f;
}

h1 {
  font-weight: 900;
  font-size: 48px;
  line-height: 45px;
  color: #222222;
}

.promo__decor {
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
}

.lastword {
  color: #f16d7f !important;
}

.category {
  margin: 65px 0;
}

.category__flex {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.category__item:not(:last-child) {
  width: 360px;
  height: 260px;
}

.category__item {
  width: 100%;
  height: 180px;
}

.category__item__general {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}

.category__item__general .lastword {
  font-weight: 700;
  font-size: 24px;
}

.category__item__1 {
  background: url(../img/Group\ 36.jpg);
}

.category__item__2 {
  background: url(../img/Group\ 37.jpg);
}

.category__item__3 {
  background: url(../img/Group\ 38.jpg);
}

.category__item__4 {
  background: url(../img/Group\ 39.jpg);
}

.fetured {
  margin-top: 96px;
}

.fetured__article {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.fetured__h2 {
  font-size: 30px;
  line-height: 36px;
}

.fetured__p {
  font-size: 14px;
  line-height: 17px;
  color: #9f9f9f;
  padding-top: 6px;
}
.fetured__flex {
  display: flex;
  flex-wrap: wrap;
  margin-top: 48px;
  margin-bottom: 45px;
  gap: 30px;
}

.fetured__item {
  width: 360px;
  height: 581px;
  background-color: #f8f8f8;
}

.fetured__item__pic {
  position: relative;
}

.fetured__item__pic:hover {
  background-color: #3a3838;
}

.fetured__item__img:hover {
  opacity: 14%;
}

.fetured__item__text {
  padding: 24px 18px 20px;
}

.fetured__item__text__p {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5d5d5d;
  margin: 15px 0;
}

.fetured__item__text__h4 {
  line-height: 16px;
  color: #000000;
}

.fetured__item__text__cost {
  font-size: 16px;
  line-height: 19px;
  color: #f16d7f;
}

.fetured__button__flex {
  display: flex;
  justify-content: center;
  margin-bottom: 45px;
}

.fetured__button {
  text-decoration: none;
  color: #f26376;
  background-color: #fff;
  padding: 14px 38px;
  border: 1px solid #f26376;
}
.fetured__button:hover {
  background-color: #f26376;
  color: white;
}

.service {
  background: #222224;
  height: 340px;
}

.service__flex {
  display: flex;
  gap: 30px;
  align-items: center;
  height: 100%;
  color: white;
}

.service__item {
  width: 360px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  background-position: top center;
  background-repeat: no-repeat;
  padding-top: 55px;
}

.service__item h4 {
  font-size: 20px;
  line-height: 24px;
  color: #fbfbfb;
  margin-bottom: 16px;
  font-weight: 400;
}

.service__item p {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #fbfbfb;
}

.service__item__1 {
  background-image: url(../img/Forma\ 1.svg);
}

.service__item__2 {
  background-image: url(../img/Forma\ 5.svg);
}

.service__item__3 {
  background-image: url(../img/Forma\ 2.png);
}

.footer {
  background: url(../img/photo\ subscribe.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.footer__flex {
  display: flex;
  min-height: 450px;
}

.photo {
  display: flex;
  flex-direction: column;
  width: 360px;
  margin: auto;
  margin-left: 0;
}

.photo__img {
  display: flex;
  justify-content: center;
}

.photo p {
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
  margin-top: 32px;
}

.photo img {
  width: 96px;
  align-self: center;
}

.subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: auto;
  margin-right: 0;
}

.subscribe__bold {
  font-weight: bold;
  font-size: 24px;
  line-height: 167.2%;
  text-align: center;
}

.subscribe__normal {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
}

.subscribe__mail {
  margin-top: 32px;
}

.subscribe__input {
  width: 256px;
  height: 49px;
  padding: 7px 22px;
  background: #e1e1e1;
  border-radius: 50px 0 0 50px;
  border: none;
}

.subscribe__input:focus {
  outline: 0;
}

.subscribe__button {
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  text-decoration: none;
  padding: 16px 23px 16px 20px;
  background-color: #f16d7f;
  border-radius: 0 50px 50px 0;
  margin-left: -3px;
}

.subscribe__button:hover {
  background-color: #222224;
}

.social {
  background: #222224;
  min-height: 80px;
  display: flex;
}

.social__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social__flex p {
  font-size: 16px;
  line-height: 19px;
  color: #fbfbfb;
}

.social__item {
  list-style-type: none;
  display: inline-block;
}

.social__item:not(:last-child) {
  margin-right: 7px;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 32px;
  height: 32px;
  background-position: center;
  background-color: white;
  color: #222224;
  font-size: 18px;
}

.social__link:hover {
  background-color: #f16d7f;
  color: #ffffff;
}
